/* 
    Author: Arief Badrus Sholeh;
    Theme: Mie Gejor Mak Sareh;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.image-responsive{
    width: 100%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear-fix{
    clear: both;
    float: none;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #ff4757;
}
h2{
    color: #2f3542;
}

/* CSS for Nav */
nav .container{
    padding: 0.5% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
.logo img{
    border-radius: 15px 0 15px 0;
}
.menu{
    min-width: 40%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.menu ul li{
    display: block;
}
.menu ul li a{
    font-weight: bold;
}
/* CSS for Nav */

/* CSS for Header */
header{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 0;
}
header h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 2px;
}
header h3{
    margin-bottom: 20px;
}
header input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* CSS for Header */

/* CSS for Categories */
.categories{
    padding: 4% 0;
}
.categories .container{
    display: flex;
    justify-content: space-around;
}
.box-2{
    border: 1px solid black;
    width: 30%;
}
/* CSS for Categories */