/* 
    Author: Arief Badrus Sholeh;
    Theme: Mie Gejor Mak Sareh;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curved{
    border-radius: 10px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.clear-fix{
    clear: both;
    float: none;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #ff4757;
    color: white;
}
h2{
    color: #2f3542;
    margin-bottom: 1%;
}
h3{
    font-size: 1.3rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 45px;
    left: 36%;
}


/* CSS for Nav */
nav .container{
    padding: 0.5% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
.logo img{
    border-radius: 15px 0 15px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu{
    min-width: 30%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.menu ul li{
    display: block;
}
.menu ul li a{
    font-weight: bold;
}
/* CSS for Nav */

/* CSS for Header */
header{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 0;
}
header h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 2px;
}
header h3{
    margin-bottom: 20px;
}
header input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* CSS for Header */

/* CSS for Categories */
.categories{
    padding: 4% 0;
}
.box-2{
    width: 27%;
    float: left;
    margin: 3%;
}
/* CSS for Categories */

/* CSS for menu-makanan */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 5%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}
/* CSS for menu-makanan */

/* CSS for Social */
.social ul{
    list-style: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}
/* CSS for Social */


/* CSS For Responsive */
@media only screen and (max-width:768px){
    nav .container{
        display: block;
        padding: 5% 0;
    }
    .logo{
        width: 40%;
        margin: auto;
        margin-bottom: 5%;
    }
    header{
        padding: 10%;
    }
    header input[type="search"]{
        width: 70%;
    }
    .categories{
        padding: 10% 0;
    }
    .box-2{
        width: 95%;
        margin: 5% auto;
    }
    .food-menu{
        padding: 10% 0;
    }
    .food-menu-box{
        width: 95%;
        margin: 5% auto;
        padding: 5% 2%;
    }
    .social{
        padding: 10% 0;
    }
    .footer{
        padding: 10%;
    }
}